    {{#each movies}}
        <div>
            <h1>title {{title}}</h1>
            <h3>genre: </h3>
            <h3>plot: </h3>
            <h3>cast: </h3>
            <hr>
        </div>
    {{/each}}


    